@charset "UTF-8";
@font-face {
  font-family: quick_sand;
  src: url("../webfonts/Quicksand-Regular.ttf") format(‘truetype’);
  font-weight: normal;
  font-style: normal; }

li {
  list-style: none; }

.container {
  padding: 0; }

.breadcrumb {
  background-color: #ffffff !important;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 5px 0 10px;
  border-bottom: 1px solid #9a9a9a7d; 
  width: 50%; 
  transition: 0.3s;}
  .breadcrumb .breadcrumb-item {
    font-size: 14px; }
    .breadcrumb .breadcrumb-item:first-child:hover {
      font-weight: bold !important;
      transition: 0.3s;}

.mid-page .product-left {
  padding: 20px 0 50px 0; }
  .mid-page .product-left__img img {
    width: 340px;
    height: auto;
    max-height: 340px;
    margin-bottom: 8px;
    margin-right: 5px; }
  .mid-page .product-left__content {
    margin-top: 40px; }
    .mid-page .product-left__content h3 {
      font-family: quick_sand;
      font-weight: 700; }
    .mid-page .product-left__content p {
      padding: 5px 35px 0 0;
      line-height: 2; }

.mid-page .product-right {
  padding: 20px 20px 0 40px; }
  .mid-page .product-right h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .mid-page .product-right h3 {
    font-size: 20px;
    color: #b22222;
    margin-bottom: 40px;
    font-weight: bold;
    border-bottom: 1px solid #b9b9b985;
    padding-bottom: 10px; }
  .mid-page .product-right p {
    margin-bottom: 5px;
    font-weight: bold; }
  .mid-page .product-right__size {
    margin-bottom: 40px;
    border-bottom: 1px solid #b9b9b985;
    padding-bottom: 15px; }
  .mid-page .product-right__count {
    margin-bottom: 40px;
    border-bottom: 1px solid #b9b9b985;
    padding-bottom: 10px; }
    .mid-page .product-right__count .click-count {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .mid-page .product-right__count .click-count p {
        width: 45px;
        height: 35px;
        border-top: 1px solid #7b7b7b94;
        border-bottom: 1px solid #7b7b7b94;
        text-align: center;
        padding: 4px 0;
        font-weight: bold;
        color: #742500;
        font-size: 18px; }
      .mid-page .product-right__count .click-count .btn-click {
        width: 35px;
        height: 35px;
        background: white;
        border: 1px solid #7b7b7b94;
        font-size: 20px;
        padding-bottom: 10px; }
        .mid-page .product-right__count .click-count .btn-click:hover {
          background: #FFFAFA; }
  .mid-page .product-right__buy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mid-page .product-right__buy .add-cart {
      background: none;
      border: 1px solid black;
      padding: 8px 8px;
      width: 50%;
      text-align: center;
      font-size: 12px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      font-weight: 600;
      margin-bottom: 8px; }
      .mid-page .product-right__buy .add-cart:hover {
        background: black;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        color: white; }
  .mid-page .product-right__promo {
    border-bottom: 1px solid #b9b9b985;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    .mid-page .product-right__promo p {
      font-weight: bold; }
    .mid-page .product-right__promo ul li {
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 6px; }

      .swiper-container {
        width: 100%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        background-size: cover;
        background-position: center;
        width: 470px;
        height: 420px;
      }
      .gallery-top {
           height: 420px;
    width: 475px;
      }
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
      .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.4;
      }
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-button-prev, .swiper-button-next{
        height: 25px !important;
      }
      .swiper-wrapper{
        height: 150px !important;
      }